#deckgl-overlay {
  mix-blend-mode: multiply;
}

.source {
  font-size: .8rem;
  text-align: right;
}

#title {
  position: absolute;
  top: 15;
  left: 0;
  right: 0;
  max-width: 50%;
  margin: auto;
  text-align: center;
  color: white;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px #000000;
  font-weight: normal;
}